MONDAY_TOKEN=ocultar_token_real
MONDAY_API_VERSION=2026-01
ACTA_BOARD_ID=18429803408
ACTA_STATUS_COLUMN_ID=estado_10
ACTA_XLSX_COLUMN_ID=
ACTA_PDF_COLUMN_ID=
ACTA_ID_COLUMN_ID=text_mm736ka4
SIGNATURE_COLUMN_ID=signature9vmootoj
ACTA_TRIGGER_LABEL=Generar
ACTA_TEMPLATE=templates/100_PUNTO_DE_ACTA_PLANTILLA.xlsx
ACTA_OUTPUT_DIR=/tmp/puntos_acta
FIRMA_BOARD_ID=18419366411
FIRMA_ESTADO_COLUMN_ID=color_mm4t50
FIRMA_TRIGGER_LABEL=FIRMADO
FIRMA_PA_EDITABLE_COLUMN_ID=file_mm4vcga3
FIRMA_PA_FIRMADO_COLUMN_ID=file_mm4n19yn
MELISSA_SIGNATURE_PATH=assets/firma_melissa.jpg
