MONDAY_TOKEN=ocultar_token_real
MONDAY_API_VERSION=2026-01
ACTA_BOARD_ID=18429803408
ACTA_STATUS_COLUMN_ID=estado_10
ACTA_XLSX_COLUMN_ID=
ACTA_PDF_COLUMN_ID=
ACTA_TRIGGER_LABEL=Generar
ACTA_TEMPLATE=templates/100_PUNTO_DE_ACTA_PLANTILLA.xlsx
ACTA_OUTPUT_DIR=/tmp/puntos_acta
